<!DOCTYPE html>
<html lang="en">
<head>
    <title>ComputaCenter ChatterBox</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/chatterbox/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/chatterbox/css/bootstrap-responsive.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/chatterbox/css/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/chatterbox/css/uniform.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/chatterbox/css/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/chatterbox/css/unicorn.main.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/chatterbox/css/unicorn.blue.css') }}" class="skin-color" />
</head>
<body>


<div id="header">
    <h1><a href="/web">ChatterBox</a></h1>
</div>

<div id="search">
    <input type="text" placeholder="Search for company, person, or news"/><button type="submit" class="tip-right" title="Search"><i class="icon-search"></i></button>
</div>
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav btn-group">
        <li class="" ><a title="" href="/web/profile"><i class="icon icon-user"></i> <span class="text">My Account</span></a></li>
        <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
        <li class=""><a title="" href="/web/logout"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
    </ul>
</div>

<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-th-list"></i> Admin Settings</a>
    <ul>
        <li class="active"><a href="/web/admin/user/read"><i class="icon icon-user"></i> <span>Users</span></a></li>
        <li class="submenu">
            <a href="#"><i class="icon icon-th-list"></i> <span>Company</span></a>
            <ul>
                <li><a href="/web/chatterbox_company">Basic Info</a></li>
                <li><a href="/web/readrss">RSS</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><i class="icon icon-th-list"></i> <span>Contact</span></a>
            <ul>
                <li><a href="/web/chatterbox_customer">Basic Info</a></li>
                <li><a href="/web/readrss">Social Account</a></li>
            </ul>
        </li>
    </ul>

</div>

<div id="contentAdmin">
    <div id="content-header">
        <h1>Welcome, {{ app.user.username }}</h1>
        <div class="btn-group">
            <img src="/web/bundles/chatterbox/images/logo.png" />
        </div>
    </div>
    <div class="container-fluid">
        {% block adminArea %}{% endblock adminArea %}
        <div class="row-fluid">
            <div id="footer" class="span12">
                Home | Help | Support | Logout
            </div>
        </div>
    </div>
</div>
{% block footer %}{% endblock footer %}

<script src="{{ asset('bundles/chatterbox/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/chatterbox/js/jquery.ui.custom.js') }}"></script>
<script src="{{ asset('bundles/chatterbox/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/chatterbox/js/jquery.uniform.js') }}"></script>
<script src="{{ asset('bundles/chatterbox/js/select2.min.js') }}"></script>
<script src="{{ asset('bundles/chatterbox/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bundles/chatterbox/js/unicorn.js') }}"></script>
<script src="{{ asset('bundles/chatterbox/js/unicorn.tables.js') }}"></script>

</body>
</html>